# Typeorm Configuration
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_SYNCHRONIZE=
DB_LOGGING=

# Application Configuration
APP_PORT=

# Security Configuration
APP_BCRYPT_ITER=

# Json Web Token Configuration
APP_JWT_SECRET=
APP_JWT_EXPIRATION=
